@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.my-name {
    font-size: 4rem;
}

.home-content {
    margin-top: 20px;
    padding: 3rem;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

.hire-me {
    color: white;
    font-size: 3rem;
}

#Skill {
    padding: 10rem 9%;
    background: #000;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.skill-card {
    background: #161616;
    padding: 3rem 2rem;
    border-radius: 2rem;
    border: 0.2rem solid transparent;
    transition: 0.4s ease;
    text-align: center;
}

/* .skill-card:hover {
    border-color: #b74b4b;
    transform: translateY(-1rem);
    background: #1f1f1f;
} */

.skill-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.skill-card h3 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}

.skill-card p {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.6;
}

.contact-container {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-list a:hover{
    font-size: 3rem;
    color: white;
    transition: 0.3s ease;
}


@media(max-width:995px){

    #Home {
        flex-direction: column; 
        justify-content: center;
        text-align: center;      
        gap: 3rem;
        /* padding-top: 10rem; */
    }

    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }

    .portfolio-container {
        margin: 0;
        padding: 0;
    }

    .portfolio-box {
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .portfolio-content {
        padding-right: 0;
        margin-top: 20px;
    }

    .portfolio-layer {
        margin: 0 0 0 0;
        /* padding: 2rem; */
        text-align: center;
    }

    .portfolio-box img {
        width: 100%;
    }

    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .hire-list {
        display: block;
        align-items: column;
    }

}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: black;
    min-height: 100vh;
    padding: 0 9%;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 25vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px #FFFFFF;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.home-btns {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: white;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.skills-container {
    grid-template-columns: 1fr;
}

#Portofolio {
    padding: 100px 9%;
    background-color: black;
    color: white;
}

.heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#Portofolio {
    padding: 80px 9%;
    background: black;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.portfolio-box {
    display: flex;
    align-items: center; 
    background: #161616;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #333;
    transition: 0.3s;
}

.portfolio-box:hover {
    border-color: #FFFFFF; 
}

.portfolio-layer {
    margin-left: 3rem;
}

.portfolio-content {
    flex: 1;
    padding-right: 30px;
}

.portfolio-content h4 {
    font-size: 2.5rem;
    color: #b74b4b;
    margin-bottom: 10px;
}

.portfolio-content p {
    font-size: 1.5rem;
    color: white;
    line-height: 1.6;
}

.portfolio-box img {
    width: 100%; 
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-layer h4 {
    font-size: 2.5rem;
    color: #b74b4b;
    margin-bottom: 15px;
}

.portfolio-layer p {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.6;
}

.btn-small {
    display: inline-block;
    margin-top: 15px;
    color: #b74b4b;
    font-size: 1.4rem;
    text-decoration: underline;
}

#hire-me {
    background-color: black;
    padding: 100px 9%;
}

.hire-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hire-content p {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 4rem;
    line-height: 1.6;
}

.hire-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
}

.hire-item {
    background: #000000;
    padding: 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.hire-item:hover {
    /* border-color: #FFFFFF; */

}

.hire-item h3 {
    font-size: 2.2rem;
    color: #b74b4b;
    margin-bottom: 1.5rem;
}

.hire-item p {
    font-size: 1.4rem;
    color: #ccc;
    margin-bottom: 0;
}

#Testimoni {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 0 9%;
}

.testimonial-container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 4rem;/
}

.testimonial-container {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
    /* align-items: center; */
    justify-content: center;
}

.testimonial-coontainer p {
    align-items: center;
}



@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){

}
