@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

@theme {

  --bg-grey: #E2E2E266; 

  --text-bluedark: #23262F;

  --font-inter: "Inter", ui-sans-serif, system-ui;
  --font-saira: "Saira", sans-serif;
  --font-special: "Special Gothic Expanded One", serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}